pmc_ids.pkl
results*
research_summarizer/__pycache__/*
research_summarizer/train_dir
research_summarization_model
research_summarization_model_bart
# Ignore finder files
.DS_Store
/.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Others
# research_summarizer/articles.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
research_summarizer/.gradio/certificate.pem
research_summarizer/__pycache__/summarization.cpython-311.pyc
