pmc_ids.pkl
results*
research_summarizer/__pycache__/__main__.cpython-311.pyc
research_summarizer/__pycache__/utils.cpython-311.pyc
research_summarizer/__pycache__/model.cpython-311.pyc

# Ignore finder files
.DS_Store
/.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Others
research_summarizer/articles.csv
